[submodule "src/robot_localization"]
	path = src/robot_localization
	url = git@github.com:cra-ros-pkg/robot_localization.git
[submodule "src/realsense-ros"]
	path = src/realsense-ros
	url = https://github.com/IntelRealSense/realsense-ros.git
[submodule "src/navx"]
	path = src/navx
	url = https://github.com/GOFIRST-Robotics/navx.git
[submodule "src/ros2socketcan_bridge"]
	path = src/ros2socketcan_bridge
	url = https://github.com/GOFIRST-Robotics/ros2socketcan_bridge.git
