[submodule "src/ros2socketcan_bridge"]
	path = src/ros2socketcan_bridge
	url = https://github.com/GOFIRST-Robotics/ros2socketcan_bridge.git
	branch = master
[submodule "src/zed-ros2-wrapper"]
	path = src/zed-ros2-wrapper
	url = https://github.com/stereolabs/zed-ros2-wrapper.git
	branch = humble-v4.1.4
[submodule "src/isaac_ros/isaac_ros_common"]
	path = src/isaac_ros/isaac_ros_common
	url = https://github.com/NVIDIA-ISAAC-ROS/isaac_ros_common.git
	branch = v3.1.0
[submodule "src/realsense-ros"]
	path = src/realsense-ros
	url = https://github.com/IntelRealSense/realsense-ros.git
	branch = ros2-master
