<?xml version="1.0"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="Master_ASM">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="0.00128291603098772 -0.314678136273213 -0.0059364428018708"
        rpy="0 0 0" />
      <mass
        value="38.0385728398503" />
      <inertia
        ixx="0.519745328316038"
        ixy="0.000699077123366833"
        ixz="2.95440693327484E-06"
        iyy="0.938888817902711"
        iyz="-3.80810961739296E-06"
        izz="0.527296790538218" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Master_ASM/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 -0.4"
        rpy="0 0 0" />
      <geometry>
        <box size="0.73 1.4 0.7" />
      </geometry>
    </collision>
  </link>


  <link
    name="SwerveL">
    <inertial>
      <origin
        xyz="0.347011500015288 0.02869356530948 0.550263500000836"
        rpy="0 0 0" />
      <mass
        value="10.0842071196664" />
      <inertia
        ixx="0.0329320260859464"
        ixy="1.02359861325491E-14"
        ixz="2.3164741321929E-07"
        iyy="0.0272718339216881"
        iyz="1.7372685071803E-14"
        izz="0.0277771377825058" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Master_ASM/meshes/Swerve.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <!-- <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Master_ASM/meshes/Swerve.STL" />
      </geometry>
    </collision> -->
  </link>
  <joint
    name="Swerve"
    type="fixed">
    <origin
      xyz="-0.347011500000005 0.550263499999998 -0.595625000000001"
      rpy="1.5707963267949 0 0" />
    <parent
      link="base_link" />
    <child
      link="SwerveL" />
    <axis
      xyz="0 0 0" />
  </joint>

  <link
    name="WheelsL">
    <inertial>
      <origin
        xyz="-0.186412849350933 0.402725959395224 0.275564249999993"
        rpy="0 0 0" />
      <mass
        value="4.5486742798106" />
      <inertia
        ixx="0.023785219045697"
        ixy="-6.28326586752347E-07"
        ixz="-9.1089456270182E-09"
        iyy="0.0237867378484497"
        iyz="2.52981184873848E-08"
        izz="0.0290363309330736" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Master_ASM/meshes/Wheels.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <!-- <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Master_ASM/meshes/Wheels.STL" />
      </geometry>
    </collision> -->
  </link>
  <joint
    name="Wheels"
    type="fixed">
    <origin
      xyz="0.0714472500000006 0.0389588841993004 0.108199839842512"
      rpy="1.57079632679491 0.345612376276712 1.5707963267949" />
    <parent
      link="SwerveL" />
    <child
      link="WheelsL" />
    <axis
      xyz="0 0 0" />
  </joint>
</robot>