/**:
  ros__parameters:
    CAN_INTERFACE_TRANSMIT: "can0" # can0, can1, slcan0, slcan1 are common values
    CAN_INTERFACE_RECEIVE: "can0" # can0, can1, slcan0, slcan1 are common values
    BACK_LEFT_DRIVE: 7 # CAN ID of the back left drive motor
    FRONT_LEFT_DRIVE: 10 # CAN ID of the front left drive motor
    BACK_RIGHT_DRIVE: 8 # CAN ID of the back right drive motor
    FRONT_RIGHT_DRIVE: 9 # CAN ID of the front right drive motor
    DIGGER_MOTOR: 3 # CAN ID of the digger belt motor
    DIGGER_LEFT_LINEAR_ACTUATOR: 2 # CAN ID of the left linear actuator
    DIGGER_RIGHT_LINEAR_ACTUATOR: 1 # CAN ID of the right linear actuator
    DUMPER_MOTOR: 11 # CAN ID of the dumper motor
