/**:
  ros__parameters:
    CAN_INTERFACE_TRANSMIT: "can0" # can0, can1, slcan0, slcan1 are common values
    CAN_INTERFACE_RECEIVE: "can0" # can0, can1, slcan0, slcan1 are common values
    BACK_LEFT_DRIVE: 7 # CAN ID of the back left drive motor
    FRONT_LEFT_DRIVE: 10 # CAN ID of the front left drive motor
    BACK_RIGHT_DRIVE: 8 # CAN ID of the back right drive motor
    FRONT_RIGHT_DRIVE: 9 # CAN ID of the front right drive motor
    digger_BELT_MOTOR: 2 # CAN ID of the digger belt motor
    digger_LIFT_MOTOR: 1 # CAN ID of the digger lift motor
